# 依赖
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# 构建输出
dist/
build/
*.local

# 日志
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 编辑器
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# 环境变量
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 调试
*.pem

# 测试
coverage/
.nyc_output/

# 临时文件
*.tmp
*.temp
